<div class="barra-procura">
<md-toolbar>
  <span>Pesquise Aqui</span>
  <td-search-box placeholder="Search"[alwaysVisible]="false" [showUnderline]="true" flex #searchBox></td-search-box>
  <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
  <md-menu #toolbarMenu1="mdMenu">
    <button md-menu-item>
      <span>Favoritos</span>
    </button>
    <button md-menu-item>
      <span>Pesquisas</span>
    </button>
  </md-menu>
</md-toolbar>
</div>
<span *ngIf="searchBox.value">
  <h1>Estou pesquisando por: {{searchBox.value}}</h1>
</span>