<br/>
<!--<td-dynamic-forms [elements]="elements">

    <button md-mini-fab color="accent" (click)="()">
  <md-icon>add</md-icon>
</button> 
</td-dynamic-forms>-->

<form #pessoaForm="ngForm" (ngSubmit)="save(pessoaForm)" novalidate>
<div layout="row" layout-margin>
    <md-input-container flex >
      <input md-input placeholder="Nome:" 
      [(ngModel)]="pessoa.nome" name="nome" required>
    </md-input-container>
    <md-input-container flex >
      <input md-input placeholder="Tipo:" [(ngModel)]="pessoa.tipo" name="tipo">
    </md-input-container>
   <button md-mini-fab color="accent" type="submit" [disabled]="!pessoaForm.valid">
        <md-icon>add</md-icon>
    </button>
    <div [hidden]="pessoaForm.valid">
      <div>
        Insira um Nome
      </div>
    </div>
  </div>
  </form>
