<md-tab-group md-stretch-tabs>
  <md-tab>
    <ng-template md-tab-label>
      <div layout="row" layout-align="center center">
        Web
      </div>
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <div layout="row" layout-align="center center">
          Imagens
        <td-notification-count color="warn" [notifications]="0">
        </td-notification-count>
      </div>
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <div layout="row" layout-align="center center">
          Videos
      </div>
    </ng-template>
  </md-tab>
  <md-tab>
    <ng-template md-tab-label>
      <div layout="row" layout-align="center center">
        Noticias 
      </div>
    </ng-template>
  </md-tab>
</md-tab-group>