<p>pessoa works!</p>
<table td-data-table>
  <th td-data-table-column
      *ngFor="let column of columns"
      [numeric]="column.numeric">
    {{column.label}}
  </th>
  <tr td-data-table-row *ngFor="let row of pessoas">
  	<td td-data-table-cell *ngFor="let column of columns">{{row[column.name]}}
    </td>
    <button md-button class="text-upper" 
    [routerLink]="['pessoa-edit', row.id]" routerLinkActive="active">Editar</button>
    <button md-button class="text-upper" (click)="delete(row.id)" >Excluir</button>
  </tr>
</table>
